{
    "$schema": "https://json-schema.org/draft/2020-12/schema",
    "$id": "https://raw.githubusercontent.com/bactopia/bactopia/master/workflows/{{ workflow_path }}/nextflow_schema.json",
    "title": "{{ module_name }}",
    "description": "{{ module_description }}",
    "type": "object",
    "$defs": {
        {%- for def in definitions -%}
        "{{ def }}": {
            {%- for def_k, def_v in def.items() -%}
            {%- if def_k == "properties" -%}
            "properties": {
                {%- for p in def.properties -%}
                "{{ p }}": {
                    {%- for pk, pv in p.items() -%}
                    "{{ pk }}": {{ pv }}
                    {%- if not loop.last %},{% endif -%}
                    {%- endfor -%}
                }
                {%- if not loop.last %},{% endif -%}
                {%- endfor -%}
            }
            {%- else -%}
            "{{ def_k }}": {{ def_v }}
            {%- endif -%}
            {%- if not loop.last %},{% endif -%}
            {%- endfor -%}
        }
        {%- if not loop.last %},{% endif -%}
        {%- endfor -%}
    },
    "allOf": [
        {%- for def in definitions -%}
        {
            "$ref": "#/$defs/{{ def }}"
        }
        {%- endfor -%}
    ]
}
